.Catppuccin {
    --heroText: #e0def4;
    --foreground: #cad3f5;
    --foregroundAlt: #6e738d;
    --background: #24273a;
    --backgroundAlt: #1e2030;
    --red: #ed8796;
    --yellow: #eed49f;
    --orange: #f5a97f;
    --blue: #8aadf4;
    --cyan: #8bd5ca;
    --purple: #c6a0f6;
}

.Catppuccin-Light {
    --heroText: #e0def4;
    --foreground: #4c4f69;
    --foregroundAlt: #8c8fa1;
    --background: #eff1f5;
    --backgroundAlt: #e6e9ef;
    --red: #d20f39;
    --yellow: #df8e1d;
    --orange: #fe640b;
    --blue: #1e66f5;
    --cyan: #179299;
    --purple: #8839ef;
}

.Gruvbox {
    --heroText: #f9f5d7;
    --foreground: #ddc7a1;
    --foregroundAlt: #7c6f64;
    --background: #282828;
    --backgroundAlt: #1b1b1b;
    --red: #ea6962;
    --yellow: #d8a657;
    --orange: #e78a4e;
    --blue: #7daea3;
    --cyan: #89b482;
    --purple: #d3869b;
}

.Gruvbox-Light {
    --heroText: #f9f5d7;
    --foreground: #4f3829;
    --foregroundAlt: #7c6f64;
    --background: #f9f5d7;
    --backgroundAlt: #f3eac7;
    --red: #c14a4a;
    --yellow: #b47109;
    --orange: #c35e0a;
    --blue: #45707a;
    --cyan: #4c7a5d;
    --purple: #945e80;
}
